/* ================= hero-section CSS =============== */
.hero-section {
  padding: 121px 0 140px 0;
}

.hero-section .title span {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%; /* 25.02px */
}
.hero-section .title span:nth-child(2) {
  color: #e47500;
}
.hero-section h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 180.5%; /* 54.15px */
}
.hero-section p {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%; /* 31.275px */
}
.hero-section button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 40px;
  background: linear-gradient(92deg, #fa8305 2.08%, #fb9e3c 117.25%);
  padding: 10px 20px;
}
/* ================ Services CSS ====================  */
.service-section {
  padding-bottom: 147px;
}
.service-section h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 180.5%; /* 45.125px */
}
.service-section .card {
  padding: 60px 35px;
  border-radius: 20px;
  background: #1c140f;
  box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  margin-top: 64px;
}
.service-section span {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%; /* 26.25px */
  border-radius: 8px;
  background: rgba(176, 0, 220, 0.11);
  padding: 7px 35px 6px 14px;
  display: inline-block;
}
.service-section h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%; /* 37.5px */
  margin: 19px 0 16px 0;
}
.service-section p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%; /* 26.25px */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* Number of lines to show */
  line-clamp: 4;
}
/* ===================== About CSS ===================  */
.about-section {
  padding-top: 113px;
  background: #1c140f;
}
.about-section img {
  width: 100%;
}
.about-section .text-content {
  padding-left: 90px;
  padding-right: 90px;
}
.about-section span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 202.5%; /* 32.4px */
}
.about-section h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 157.5%; /* 44.1px */
  padding: 14px 0;
}
.about-section p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 202.5%; /* 32.4px */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5; /* Number of lines to show */
  line-clamp: 5;
}
/* ========================= team-section ======================  */
.team-section {
  padding-top: 140px;
  /* background: linear-gradient(180deg, #010101 -15.71%, #1a0e01 99.57%); */
  background-color: #0a0601;
}
.team-section h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 180.5%; /* 45.125px */
  padding-bottom: 30px;
}
.team-section .card {
  border-radius: 20px;
  background: #1c140f;
  padding: 35px 0 30px 0;
  text-align: center;
  margin-top: 20px ;
}
.team-section .card img {
  max-width: 123px;
  margin: auto;
}
.team-section strong {
  color: #fff;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 202.5%; /* 38.475px */
}
.team-section span {
  color: #e8e8e8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 202.5%; /* 32.4px */
}

/* ===================== Responsive CSS =================== */
@media (min-width: 992px) { 
  .about-section h1 {
    font-size: 28px ;
  }
 }